SoapPizzaConsumer/SoapPizzaConsumer.Peater/Connected Services/PizzaReference/PizzaService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/SoapPizza/PizzaService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SoapPizza.Library" />
  <xs:element name="OrderPizza">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="quantity" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrderPizzaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SoapPizza.Library" minOccurs="0" name="OrderPizzaResult" nillable="true" type="q1:ArrayOfPizzaPie" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>